.panel.panel-primary
  .panel-heading
    请汇款至以下银行账号:
  .panel-body
    %table.table
      %tr
        %td.col-md-2 Account Name:
        %td.col-md-10 
          %b Adrew Bishop
      %tr
        %td.col-md-2 BSB:
        %td.col-md-10 
          %b 063010
      %tr
        %td.col-md-2 Account Number:
        %td.col-md-10 
          %b 11348738

