.container
  .jumbotron
    %h2 您的订单已提交
    %p 订单状态为 :  等待付款
    %p 请您付款到支付宝：
    %p 账户名: bbpp1010@sina.com
    %p 我们收到货款之后会尽快发货。
    %p 发货之后您可以到 我的账户 -> 订单状态中查询包裹号并跟踪您的包裹
    %br
    %p 
      %a.btn.btn-primary.btn-lg{href: "/products"} 继续购物