.container
  #rootwizard
    .navbar
      .navbar-inner
        .container
          %ul
            %li
              %a{"data-toggle" => "tab", :href => "#tab1"} 第一步: 包装及地址
            %li
              %a{"data-toggle" => "tab", :href => "#tab2"} 第二步: 付款
            %li
              %a{"data-toggle" => "tab", :href => "#tab3"} 完成
    .tab-content
      #tab1.tab-pane
        =render "package"
      #tab2.tab-pane
        2
      #tab3.tab-pane
        3
      %ul.pager.wizard
        %li.previous.first{:style => "display:none;"}
          %a{:href => "#"} First
        %li.previous
          %a{:href => "#"} 前一步
        %li.next.last{:style => "display:none;"}
          %a{:href => "#"} Last
        %li.next
          %a{:href => "#"} 下一步

:javascript
  order = new ORDER(#{@order.id});
  
  $(document).ready(function() {
    $('#rootwizard').bootstrapWizard( {
      "onTabClick": function(tab, navigation, index) {
                            return false;
                  },
      "onNext": function(tab, navigation, index){
                return order.go_next(index)
              }

      });
  });

