.container
  #rootwizard
    .navbar
      .navbar-inner
        .container
          %ul
            %li
              %a{"data-toggle" => "tab", :href => "#tab1"} 第一步: 包装及地址
            %li
              %a{"data-toggle" => "tab", :href => "#tab2"} 第二步: 付款及确认
    .tab-content
      #tab1.tab-pane
        =render "package"
      #tab2.tab-pane
        =render "pay"
      %ul.pager.wizard
        %li.previous{:style => "display:none;"}
          %a{:href => "#"} 前一步
        %li.next
          %a{:href => "#"} 下一步
        %li.next.finish{:style => "display:none"}
          %a.btn.btn-success.submit{:style => "cursor:pointer; background-color:green; color: white"} 确认并提交订单

:javascript
  order = new ORDER(#{@order.id});
  
  $(document).ready(function() {
    $('#rootwizard').bootstrapWizard( {
      "onTabClick": function(tab, navigation, index) {
                            return false;
                  },
      "onNext": function(tab, navigation, index){
                return order.go_next(index)
              },
      "onPrevious": function(tab, navigation, index){
                return order.go_previous(index)
              }

      });
  });

