#services{
  background-color: #A7A5A5;
  margin-top: -20px;
  .container{
    color: #ff0;
    text-align: center;
  }
}

.service{
  padding-right: 10px;
  padding-left: 10px;
  background-color: #fff;
  h3{
    color: #f00
  }
}

#products{
  padding-top: 20px;
}